.container {
    /* width: 600px; */
    /* margin: 50px auto; */
    /* border: 5px none #333; */
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-areas: 'header header header'
                    'main main campaign'
                    'video-section video-section campaign'
                    'service service service' 
                    'portfolio portfolio portfolio' 
                    'form-section form-section form-section'
                    'footer footer footer';
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
}

#form-section {
    grid-area: form-section;
}
footer {
    grid-area: footer;
}
header {
    grid-area: header;
}
#campaign {
    grid-area: campaign;
}

#main {
    grid-area: main;
}
#aside {
    grid-area: aside;
}
#video-section {
    grid-area: video-section;
}
#service {
    grid-area: service;
}
#portfolio {
    grid-area: portfolio;
}

/* Grid container */

/* .grid-container {
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-areas: 'service-1 service-2'
                    'service-3 service-4' ;
} */

#main {
    grid-area: main;
}
#aside {
    grid-area: aside;
}
#video-section {
    grid-area: video-section;
}
#service {
    grid-area: service;
}
#portfolio {
    grid-area: portfolio;
}
/* Grid container ends */

/* Grid Footer start */
.footer-container {
    display: grid;
    grid-template-areas: 
    'logo-bottom footer-information footer-socmed'
    'logo-bottom footer-legal footer-socmed'
    'logo-bottom footer-support footer-socmed'
    /* 'logo-bottom footer-socmed'
    'logo-bottom footer-form' */
    ;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 50px;
}
#logo-bottom {
    grid-area: logo-bottom;
    width: 50%;
}
#footer-information {
    grid-area: footer-information;
}
#footer-legal {
    grid-area: footer-legal;
}
#footer-socmed {
    grid-area: footer-socmed;
}
#footer-form {
    grid-area: footer-form;
}
/* Grid Footer end */