.hamburger {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width:680px), (max-width:768px) {


    #nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* Hamburger start */
    .hamburger {
        display: flex;
        margin: 0;
    }

    .nav-list {
        position:fixed;
        right: 0;
        top: 0;
        width: 50vw;
        height: 50vh;
        padding-left: 10%;
        border-radius: 10px;
        justify-content:space-evenly;
        flex-direction: column;
        align-items:flex-start;
        /* background-color: aliceblue; */
        background-color: #205295;
        /* dark  */
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    .nav-item {
        border: none;
        font-size: large;
        font-weight: bold;
    }

    .slide {
        transform: translateX(0);
    }
    
        /* Hamburger end */

}