/* Font and text start */
@font-face {
    font-family: "Geologica";
    src: url(/assets/fonts/Geologica-Light.ttf);
}

/* @font-face {
    font-family: "Geologica";
    src: url(/assets/fonts/Geologica-Regular.ttf);
    font-weight: 700;
} */

/* Font and text end */
* {
    /* background-color: #205295 ; */
    /* dark  */
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Geologica", Helvetica, Arial, sans-serif;
    margin: 0px;
}

h2 {
    /* text-shadow:2px 2px pink; */
    background-color: transparent;
}

header {
    margin: 0px ;
}

nav {
    /* background-color: aliceblue; */
    background-color: #205295;
    /* background-color: rgb(138, 169, 255); */
    /* dark */

    width: 100%;
    float: right;
    clear: both;
    margin: 0px;
    top: 0;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position:fixed;
    z-index: 1;
}

nav.dark {
    background-color: #205295;
}

.nav-bar:hover {
    background: lightblue;
    margin-top: -3px;
}
.nav-item:hover {
    background: lightblue;
    margin-top: -3px;
    font-size: x-large;
}

.hamburger img {
    width: 24px;
    height: 24px;
    align-items: center;
}

.dark-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.dark-toggle img {
    width: 50px;
    height: 50px;
}

/* Logo start */
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo-image{
    height: 50px;
}
#logo-text {
    /* height: 50px; */
    text-align: center;
    color: whitesmoke;
    /* dark  */
}

#logo-text.dark {
    color: whitesmoke;
}

/* Logo end */

/* Nav list start  */
.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
    /* dark  */

}
.nav-item.dark {
    color: whitesmoke;
}
/* Nav list end  */

/* Main start  */
#main {
    /* background-color: blanchedalmond; */
    background-color: #e19898; 
    /* dark  */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* align-items: center; */
    place-items: center;
    height: 450px;
    padding: 30px;
    background-image: url(/assets/img/moo/ilustrasi-1.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
#main.dark {
    background-color: #e19898; 
}

#main::before {
    /* content: "";
    width: 100%;
    height: 100%;
    /* position: absolute; */
    background-image: url(/assets/img/moo/ilustrasi-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%); */
}

#main-text {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: rgb(240, 248, 255, 0.9 ); */
    /* background-color: #8aa9ffe6; */
    background-color: #205295;
    color:whitesmoke;
    /* dark */
    padding: 0 0 0 30px;
    border-radius: 15px;
    width: 50%;
    animation: main-text 1s;
}  

#main-text li {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: url(/assets/icon/star.svg);
}

#main-text.dark {
    background-color: #205295;
    color:whitesmoke;
}

/* #grow {
    color: salmon;
    font-size: large;
    font-weight: bold;
} */

#cta-explore {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color:crimson;
    transition: .5s all ease;
    /* animation: color-change 2s infinite; */
}

#cta-explore:hover {
    background-color: purple;
    font-size: x-large;
}

@keyframes main-text {
    from 0%{
        /* margin-right: 50%; */
        background-color: black;
    }
    50% {
        background-color: pink;
    }
    75% {
        background-color: violet;
    }
    to 100%{
        /* margin-right: 0%; */
        background-color: rgb(240, 248, 255, 0.9 );
    }
}

/* Main end  */

/* Section video start */
#video-section {
    /* background-color: blanchedalmond; */
    background-color: #8d6262;
}
#video-section.dark {
    background-color: #8d6262;
}
/* Section video  end */

/* Section Campaign start  */
#campaign {
    /* background-color: pink; */
    /* background-color: #a2678a; */
    background-color: #624f82;
    /* dark */
    padding-top: 100px;
}
#campaign.dark {
    background-color: #a2678a;
}

#h2-campaign {
    width: 50%;
    border: 2px solid blueviolet;
    /* background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) ; */
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-right: auto;
    margin-left: auto;
    /* color: transparent; */
    /* transform: translate(-50% -50%); */
    animation: color-change 2s infinite;
}

@keyframes color-change {
    from 0%{
        /* background-color: brown; */
        color: brown;
    }
    50% {
        /* font-size: large; */
        /* background-color: blue; */
        color: blue;
    }
    75% {
        /* background-color: violet; */
        color: violet;
    }
    to 100% {
        /* background-color: green; */
        color: green;
    }
}

#campaign-text {
    color: whitesmoke;
    text-shadow: 1px 1px pink;
    text-align: center;
    background-image: 
    url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    border-radius: 10px;
    padding: 0 10px;
}


#cta-campaign {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color:crimson;
    transition: all ease .5s;
}
#cta-campaign:hover {
    background-color: purple;
    font-size: x-large;
}
/* Section Campaign end  */

/* Section service start  */
#service {
    /* background-color: aliceblue; */
    background-color: #205295;
    /* dark  */
}
#service.dark {
    background-color: #205295;
}
/* Section service end  */

/* Section portfolio start  */
#portfolio {
    /* background-color: blanchedalmond; */
    background-color: #8d6262;
    /* dark  */
}
#portfolio.dark {
    background-color: #8d6262;
}
/* Section portfolio end  */

/* Section grid container start  */
.grid-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
    width: 90%;
}
.grid-container-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 1em; */
    width: 100%;
}

.grid-container-image {
    height: 15em;
    width: 15em;
    border: 1px solid black;
    border-radius: 50%;
}

.grid-container-image-aside {
    height: 15em;
    width: 15em;
    border: 1px solid black;
    border-radius: 50%;
}
.grid-container-figcaption {
    text-align: center;
}
/* Section grid container end  */

/* Section form start  */
#form-section {
    /* background-color: aliceblue; */
    background-color: #205295;
    /* dark  */
    padding-bottom: 50px;
}
#form-section.dark {
    background-color: #205295;
}

#form-section form , #form-header {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
#form-section form {
    padding: 30px;
    border-radius: 15px;
    background-color: #adb3b8;
}

.label-name {
    font-weight: bold;
}

.input-form {
    width: 400px;

}
button {
    max-width: 480px;
    margin-left: auto;
    margin-left: auto;
}

/* Section form end  */

/* Footer start */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 20px solid navy;
    padding: 50px 30px;
    /* background-color: aliceblue; */
    background-color: #205295;
    color: antiquewhite;
    /* dark  */
    /* margin-top: 50px; */
    /* justify-content: end; */
}
footer.dark {
    background-color: #205295;
    color: antiquewhite;
}

.footer-h3{
    display: flex;
    flex-direction: column;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:beige;
    /* dark  */
}
.nav-bottom.dark {
    color:beige;
}

/* Footer end */